@charset "UTF-8";

html, body,
.mdl-card__supporting-text {
  color: #000;
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.vd-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}
header {
  .vd-title {
    height: auto;
    padding: 0 40px;
    h1 {
      font-family: 'Gloria Hallelujah', cursive !important;
      font-size: 26px !important;
      width: 100%;
      @media screen and (min-width: 760px) {
        font-size: 36px !important;
      }
    }
  }
  .vd-nav .mdl-navigation__link {
    border-bottom: 4px solid transparent;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
      border-color: #fff;
    }
  }
}
main {
  background: url('/images/background.jpg') center / cover;
  section {
    max-width: 1024px;
    &.presentation {
      .photo {
        background: #fff;
        padding: 10px;
        img {
          width: 100%;
        }
      }
    }
    &.pourquoi {
      .bird-cell {
        background: url('/images/bird.jpg') center / cover;
      }
      ul {
        margin-top: -16px;
      }
    }
    &.ateliers {
      .workshop-cell {
        background: url('/images/workshop.jpg') center / cover;
      }
      table#workshop-dates {
        border: 1px solid black;
        border-collapse: collapse;
        margin: 10px 0;
        td {
          border: 1px solid black;
          &.dates {
            background: #cacaca;
            font-weight: bold;
            padding: 10px;
            text-align: center;
            white-space: nowrap;
          }
          &.details {
            padding: 4px;
            vertical-align: top;
            strong {
              font-weight: bold;
              text-decoration: underline;
            }
          }
        }
      }
    }
    &.contact {
      .bread-cell {
        background: url('/images/bread.jpg') center / cover;
      }
      form {
        .mdl-textfield {
          display: block;
        }
        .mdl-textfield__input {
          background-color: #eaeaea;
          border-color: #616161;
        }
        .mdl-textfield__label {
          color: #616161;
        }
      }
      #sent {
        display: none;
        position: relative;
        p {
          bottom: 0;
          position: absolute;
        }
      }
      #error {
        color: #d50000;
        display: none;
      }
    }
    &.localisation .mdl-card__title {
      background: url('/images/map-marker.png') no-repeat center;
    }
    &.presentation, &.contact {
      p.contact {
        a {
          color: #000;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        &.localisation, &.schedule {
          i {
            margin-top: 2px;
            vertical-align: top;
          }
          a, span {
            display: inline-block;
          }
        }
      }
    }
  }
}
footer {
  text-align: center;
}
.is-small-screen {
  header {
    .vd-title {
      padding: 0 10px !important;
      h1 {
        font-size: 40px;
        margin: 0 !important;
        text-align: center;
      }
    }
    .vd-nav {
      display: none;
    }
  }
}
